.exOneUseState {
  padding: 16px 12px;
}

.exOneUseState h2 {
  margin-bottom: 4px;
}

.exOneUseState h3 {
  margin-bottom: 8px;
}

.exOneUseState p {
  margin-bottom: 8px;
  line-height: 1.3;
}

.exOneUseState button {
  border: none;
  padding: 12px;
  width: 100px;
  cursor: pointer;
}